:root {
    --main-1: #3c1642;
    --main-2: #370075;
    --main-3: #620097;
    --main-4: #731dd8;
    --main-5: #086375;
    --main-6: #1dd3b0;
    --main-7: #affc41;
    --main-8: #b2ff9e;
    --main-9: #fdba31;
}