.HeroTitleMove > span:nth-child(2n) {
    animation: HeroMove 10s ease-in-out infinite;
}
.HeroTitleMove > span:nth-child(2n - 1) {
    animation: HeroMove 7s ease-in-out infinite forwards;
}

@keyframes HeroMove {
    0% {
        transform: translateY(0);
    }
    5% {
        transform: translateY(-10px);
    }
    10% {
        transform: translateY(-10px);
    }
    20% {
        transform: translateY(-10px);
    }
    30% {
        transform: translateY(-10px);
    }
    40% {
        transform: translateY(10px);
    }
    60% {
        transform: translateY(10px);
    }
    70% {
        transform: translateY(10px);
    }
    80% {
        transform: translateY(10px);
    }
    90% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(0);
    }
}