/**
 ** Selector de <li> de los componentes de HAMBURGER - BUTTON
 *! Solo se selecionan los li, si existe otro tipo => ERROR!
*/

.Hamburger_active > li:nth-child(1) {
    transform: translateY(200%) rotate(135deg);
}
.Hamburger_active > li:nth-child(2) {
    width: 0;
}
.Hamburger_active > li:nth-child(3) {
    transform: translateY(-200%) rotate(-135deg);
}

/**
 ** Clases para Desplegar el HeroNav
 *? Cambia según el viewport ... Pues si
 *! El HeroNav está en "absolute" pero tiene un auxiliar para contrarestar el tamaño
*/

.V_active {
    width: calc(60%);
}
@media (min-width: 400px) {
    .V_active {
        width: 40% !important;
    }
}

@media (min-width: 1024px) {
    .V_active {
        width: 30% !important;
    }
}

@media (min-width: 1536px) {
    .V_active {
        width: 20% !important;
    }
}
